google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
numpy
plotly
datasets
requests
nlpaug
sentencepiece
nltk
gensim
wordcloud
matplotlib
tensorflow
transformers
spacy==3.7.5
nltk
pandas
torch
hiclass==4.12.1
scipy
scikit-learn
git+https://github.com/charles9n/bert-sklearn.git

